<div class="container">
    <h1>REGISTRO</h1>

    <form (ngSubmit)="registro(formulario)" #formulario = "ngForm" >
        <label for="username" class="form-label">id:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'📧'}}</span>
            <input type="text" class="form-control" placeholder="id" name="id" [(ngModel)]="id" >
        </div>
        <label for="username" class="form-label">mesa:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'📧'}}</span>
            <input type="text" class="form-control" placeholder="mesa" name="mesa" [(ngModel)]="mesa" >
        </div>

        
        <label for="pwd" class="form-label">comida:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'🔑'}}</span>
            <input type="text" class="form-control" placeholder=" tipo_de_comida" name=" tipo_de_comida" [(ngModel)]=" tipo_de_comida">
        </div>


        
       
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
